# pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu121
ipython
ipykernel
ipywidgets
numpy
scikit-learn
scikit-image
Pillow
matplotlib
tqdm
opencv-python-headless
urllib3
# urllib3==1.26.6
requests
scipy
ninja
