torch # 2.3
torchvision
ipython
ipykernel
ipywidgets
# numpy
numpy==1.23.1
scikit-learn
scikit-image
Pillow
matplotlib
tqdm
opencv-python-headless
urllib3
requests
scipy
ninja
kornia
open-clip-torch
yacs
chumpy
face-alignment
facenet-pytorch
# ===
# xformers  --> pip install -U --pre xformers
# pytorch3d --> pip install "git+https://github.com/facebookresearch/pytorch3d.git"
# ===
